:root {
	/*kleuren*/
	--kleur-snow: rgb(255, 250, 250);
	--kleur-whitesmoke: rgb(245,245,245);
	--kleur-steelblue: rgb(70,130,180);
	--kleur-dodgerblue: rgb(30,144,255);
	--kleur-menu-highlight: rgba(105, 105, 105, 0.9);
	--kleur-schaduw: rgba(0, 0, 0, 0.2);
	--kleur-gainsboro: rgb(220,220,220);
	--kleur-lichtzwart: hsl(0, 0%, 15%);
	--kleur-lichtgrijs: rgb(112, 112, 110);
	/*Decoratie beelden*/
	--image-banner: url(../Images/banner3.png) ;
}

html, body {
	scroll-behavior: smooth;
	scroll-padding-top: 5em;
	background-color: var(--kleur-whitesmoke);
}
h2, h3, h4, button {
	font-family: 'Orbitron', sans-serif;
}
h3 {
	margin: 1em 0 0 0;
}
h4 {
	margin: .6em 0 0 0;
}
p {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
#top--header {
	position: sticky;
	top: 0;
	background-color: black;
	z-index: 9999;
}
.header--container {
	font-family: 'Orbitron', sans-serif;
	background-color: black;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.header__logo {
	height: 3em;
	width: 13em;
	margin: auto;
	border: 1px solid black;
	background-color: black;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.header__logo h1 {
	color: white;
	font-size: 2em;
	margin: .2em 0 .2em 0;
}
.header__logo a {
	text-decoration: none;
}
.header__nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0 0 .5em 0;
}
#banner {
	height: calc(100vh - 4em);
	background-image: var(--image-banner);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 8.5% 30%;
}
main {
	background-color: var(--kleur-whitesmoke);
	max-width: 40em;
	margin: 0 auto 0 auto;
	display: flow-root;
}
#searchresults {
	display: none;
	padding: 0 .5em 0 .5em;
	min-height: calc(100vh - 4em);
}
#featuredmovies {
	padding: 0 .5em 0 .5em;
}
.movie_container {
	margin: 0 0 2.5em 0;
	display: flex;
	flex-wrap: wrap;
}
.poster {
	flex: 1 0 50%;
	background-color: grey;
	/*min-height: 28em;*/
	max-width: 100%;
}
.info_container {
	flex: 1 0 50%;
	padding: 0 .5em 0 .5em;
	box-sizing: border-box;
}
footer {
	height: 7em;
	background-color: black;
}